#!/usr/bin/make -f

include /usr/share/quilt/quilt.make

CONFIGUREFLAGS = \
	--enable-static \
	--enable-shared \
	--disable-debug \
	--with-logging=none \
	--with-dht=on \
	--with-encryption=on \
	--with-ssl \
	--with-zlib=system \
	--disable-examples \
	--disable-tests \
	--enable-python-binding \
	--with-boost-system=boost_system-mt \
	--with-boost-filesystem=boost_filesystem-mt \
	--with-boost-thread=boost_thread-mt \
    --with-boost-python=boost_python-mt-py25

# override dh targets
override_dh_auto_configure:
	dh_auto_configure -- PTHREAD_LIBS="-lpthread" CFLAGS="$(CFLAGS)" \
		LDFLAGS="-Wl,--as-needed -lrt" $(CONFIGUREFLAGS)

override_dh_compress:
	dh_compress -Xcpp

override_dh_strip:
	dh_strip -a --dbg-package=libtorrent-rasterbar-dbg

override_dh_makeshlibs:
	dh_makeshlibs -a -V


build: build-stamp
build-stamp: $(QUILT_STAMPFN)
	dh build
	touch $@

clean: unpatch
	dh $@

install: build install-stamp
install-stamp:
	dh install
	touch $@

binary-arch: install
	dh $@

binary-indep: install
	dh $@

binary: binary-arch binary-indep

.PHONY: build clean binary-indep binary-arch binary install
